@font-face {
   font-family: 'MONTSERRAT-EXTRABOLD_0';
   font-display: swap;
   src: url('file:///C:/Users/TAT/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-07_120221/fonts/MONTSERRAT-EXTRABOLD_0/font.TTF');
}
